In [2]:
import pandas as pd

In [8]:
df = pd.read_csv("C:\\Users\\Welcome\\Documents\\dsbda2\\studentPerformance.csv")   
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,placement_count
0,75,90,80.0,79.0,2024.0,2.0
1,67,92,60.0,75.0,2023.0,2.0
2,62,75,61.0,75.0,2022.0,2.0
3,64,77,73.0,91.0,2022.0,3.0
4,76,85,79.0,75.0,2024.0,2.0
5,72,92,77.0,90.0,2025.0,3.0
6,77,aa,76.0,95.0,2022.0,3.0
7,78,79,71.0,78.0,2025.0,2.0
8,62,81,80.0,83.0,2022.0,2.0
9,74,84,68.0,77.0,2026.0,2.0
10,76,75,200.0,80.0,2022.0,2.0
11,78,89,63.0,84.0,2022.0,2.0
12,66,76,68.0,86.0,2026.0,3.0
13,60,83,62.0,100.0,2022.0,3.0
14,76,92,78.0,94.0,2023.0,3.0
15,62,79,60.0,76.0,2025.0,2.0
16,71,81,75.0,82.0,2026.0,2.0
17,73,81,61.0,98.0,2025.0,3.0
18,60,77,67.0,95.0,2024.0,3.0
19,79,92,70.0,85.0,2022.0,3.0
20,75,79,75.0,83.0,2026.0,2.0
21,73,86,66.0,98.0,2025.0,3.0
22,78,90,70.0,97.0,2026.0,3.0
23,60,91,75.0,93.0,2026.0,3.0
24,63,91,63.0,99.0,2025.0,3.0
25,72,81,65.0,97.0,2023.0,3.0
26,76,82,77.0,81.0,2025.0,2.0
27,76,84,79.0,89.0,2024.0,3.0
28,71,NaN,NaN,NaN,NaN,NaN

In [36]:
# Select only numeric columns
col = df.select_dtypes(include=[np.number])
# Calculate mean for each numeric column
mean = col.mean()
print(mean)

Student ID    90.500000
Age           22.116667
GPA            3.615000
dtype: float64

In [30]:
# To find mean of specific column
df.loc[:,'Age'].mean()

22.116666666666667

In [41]:
#numeric columns
num_col = df.select_dtypes(include=[np.number])
#row-wise mean for first 4 rows
mean_4 = num_col.head(4).mean(axis=1)
print(mean_4)

0    8.500000
1    8.400000
2    9.600000
3    9.566667
dtype: float64

In [38]:
# Median
# All Columns
col = df.select_dtypes(include=[np.number])
col.median()

Student ID    90.5
Age           22.0
GPA            3.6
dtype: float64

In [39]:
# specific column
df.loc[:,'Age'].median()

22.0

In [43]:
#numeric columns
num_col = df.select_dtypes(include=[np.number])
#row-wise median for  first 4 rows
median_4 = num_col.head(4).median(axis=1)
print(median_4)

0    3.5
1    3.2
2    3.8
3    4.0
dtype: float64

In [44]:
# Mode
col = df.select_dtypes(include=[np.number])
col.mode()

     Student ID   Age  GPA
0             1  22.0  3.7
1             2   NaN  NaN
2             3   NaN  NaN
3             4   NaN  NaN
4             5   NaN  NaN
..          ...   ...  ...
175         176   NaN  NaN
176         177   NaN  NaN
177         178   NaN  NaN
178         179   NaN  NaN
179         180   NaN  NaN

[180 rows x 3 columns]

In [45]:
#Minimum
col = df.select_dtypes(include=[np.number])
col.min()

Student ID     1.0
Age           20.0
GPA            3.2
dtype: float64

In [46]:
# Maximum
col = df.select_dtypes(include=[np.number])
col.max()

Student ID    180.0
Age            37.0
GPA             3.9
dtype: float64

In [47]:
# Standard Deviation
col = df.select_dtypes(include=[np.number])
col.std()

Student ID    52.105662
Age            2.823040
GPA            0.177341
dtype: float64

In [49]:
# Standard Deviation row wise
#numeric columns
num_col = df.select_dtypes(include=[np.number])
#row-wise 
median_4 = num_col.head(4).std(axis=1)
print(median_4)

0    10.897247
1    10.063797
2    10.746162
3     9.902693
dtype: float64

In [14]:
df = pd.DataFrame(df)

df['Reading_Score'] = pd.to_numeric(df['Reading_Score'], errors='coerce')

df.fillna(df.mean(), inplace=True)

math_score_skewness = df['Math_Score'].skew()

print(f"Skewness of Math_Score: {math_score_skewness}")

Skewness of Math_Score: -0.5337677457715763